[submodule "Backend/MAVLink_Pipeline"]
	path = Backend/MAVLink_Pipeline
	url = https://github.com/MonashUAS/MAVLink_Pipeline.git
[submodule "Wadjet"]
	path = Wadjet
	url = https://github.com/MonashUAS/Wadjet
[submodule "Backend/MAVLink_Pipeline"]
	path = Backend/MAVLink_Pipeline
	url = https://github.com/MonashUAS/MAVLink_Pipeline.git
